<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax测试</title>
    <script src="{PUB}jquery-3.0.0.min.js"></script>
</head>
<body>

</body>
<script>
    var temp = location.pathname;
    temp = temp.substr(0, temp.lastIndexOf('/'));
    temp = temp.substr(0, temp.lastIndexOf('/'));
    temp = temp.substr(0, temp.lastIndexOf('/') + 1);
    var basepath = temp;
    $.get(basepath + 'Admin/Index/ajax_test', {
        id: 1
    }, function (result) {
        console.log(result);
    }, 'json');
</script>
</html>